@import "../../../../../styles/colors.scss";
@import "../../../../../styles/typostyle/font-body-info.scss";

.inputDefaultWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.inputDefaultData {
  display: grid;
  grid-template-columns: 14px 1fr;
  gap: 0.5rem;
  align-items: center;
  border-radius: 16px;
  border: 1px solid $white-dark;
  padding: 0 1rem;
  background-color: $white;
}

.inputDefault {
  width: 100%;
  display: flex;
  align-items: center;
  height: 42px;
  background: none !important;
  color: $black;
  font-size: $body-i-size-desk;
  line-height: $body-i-lh-desk;

  &::-webkit-input-placeholder {
    color: $grey-light-2;
  }
  &::-moz-placeholder {
    color: $grey-light-2;
  }
  &:-ms-input-placeholder {
    color: $grey-light-2;
  }
  &:-moz-placeholder {
    color: $grey-light-2;
  }
}
