// Colors

$primary: #224ef2;
$primary-light: #008fff;
$primary-dark: #002877;

$black: #202024;
$black-light: #42424a;

$white: #fafafa;
$white-dark: #e4e8eb;
$white-dark-2: #d9d9d9;

$grey: #676773;
$grey-light: #91919e;
$grey-light-2: #b4b4bf;

// Gradients

$primary-gradient: linear-gradient(134.22deg, $primary-light 0%, $primary 100%);
